.catalog__content {
    display: inline-flex;
    margin-bottom: 6rem;
    gap: 10rem;

    .catalog__content-menu {
        min-width: 20vw;
        max-width: 30vw;

        ul {
            li {

                a {
                    display: block;
                    padding: 1rem 0;
                }

                &:hover {
                    border-left: 3px solid rgb(255, 148, 90);
                    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);

                    a {
                        padding-left: 4px;
                    }
                }
            }
        }
    }

    .catalog__content-cards {
        margin: 0 auto;
        text-align: center;


        .content__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem 5rem;

            .catalog__content-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                cursor: default;

                img {
                    width: 17.5vw;

                }

                span {
                    padding: 1rem 0;
                }

                button {
                    margin: 1rem 0;
                }
            }

        }
    }

}

@media screen and(max-width:1000px) {
    .catalog__content {
        display: inline-flex;
        margin-bottom: 6rem;
        gap: 10rem;

        .catalog__content-cards {

            .content__cards {

                .catalog__content-item {

                    img {
                        width: 25vw;

                    }

                    button {
                        height: 4rem;
                        width: 15rem;
                    }

                }

            }
        }

    }
}


@media screen and(max-width:767px) {
    .catalog__content {

        .catalog__content-menu {
            display: none;
        }

        .catalog__content-cards {

            .content__cards {

                .catalog__content-item {

                    img {
                        width: 50%;

                    }

                    button {
                        height: 5rem;
                        width: 22rem;
                    }
                }

            }
        }
    }
}